Repository dev-yatin/cra-microfrontend-tailwind: changes, and which GitLab CI jobs are due for each by the changed paths.
All: publish_setup_product_dev, publish_setup_container_dev

publish_setup_product_dev:
  stage: triggers
  trigger:
    include: unifyed-setup-product/.gitlab-ci.yml

publish_setup_container_dev:
  stage: triggers
  trigger:
    include: unifyed-setup-container/.gitlab-ci.yml

CI
  .gitlab-ci.yml
Due: none

Test Container Build
  unifyed-setup-container/.gitlab-ci.yml
Due: publish_setup_container_dev

Trigger changes
  .gitlab-ci.yml
Due: none

sc1
  unifyed-setup-container/.gitlab-ci.yml
Due: publish_setup_container_dev

ci 2
  unifyed-setup-container/.gitlab-ci.yml
Due: publish_setup_container_dev

both
  unifyed-setup-container/.gitlab-ci.yml
  unifyed-setup-product/.gitlab-ci.yml
Due: publish_setup_product_dev, publish_setup_container_dev

docker help in script
  unifyed-setup-container/.gitlab-ci.yml
  unifyed-setup-product/.gitlab-ci.yml
Due: publish_setup_product_dev, publish_setup_container_dev

Only container
  unifyed-setup-container/.gitlab-ci.yml
Due: publish_setup_container_dev

sidebar added
  unifyed-setup-product/package.json
  unifyed-setup-product/src/App.js
  unifyed-setup-product/src/bootstrap.js
  unifyed-setup-product/src/components/routes/Routes.js
  unifyed-setup-product/src/components/shared/SVGIcon/components/DasboardSVG.js
  unifyed-setup-product/src/components/shared/SVGIcon/components/DownArrowSVG.js
  unifyed-setup-product/src/components/shared/SVGIcon/components/UpArrowSVG.js
  unifyed-setup-product/src/components/shared/SVGIcon/index.js
  unifyed-setup-product/src/components/shared/header/InvolvTenantHeader.js
  unifyed-setup-product/src/components/shared/layout/Layout.js
  unifyed-setup-product/src/components/shared/sidebar/InvolvTenantSidebar.js
  unifyed-setup-product/src/components/shared/sidebar/SideBar.js
  unifyed-setup-product/src/components/shared/sidebar/SidebarItems.js
  unifyed-setup-product/yarn.lock
Due: publish_setup_product_dev

Adding Theme Context For Switching Theme
  unifyed-setup-product/src/bootstrap.js
  unifyed-setup-product/src/context/AuthContext.js
  unifyed-setup-product/src/context/ThemeContext.js
  unifyed-setup-product/src/themes/index.js
Due: none

Test Shared Runner
  unifyed-setup-product/.gitlab-ci.yml
Due: publish_setup_product_dev

formic and generic form field added
  package.json
  unifyed-setup-product/package.json
  unifyed-setup-product/src/App.js
  unifyed-setup-product/src/components/pages/Sample/FormComponents.js
  unifyed-setup-product/src/components/routes/Routes.js
  unifyed-setup-product/src/components/shared/header/InvolvTenantHeader.js
  unifyed-setup-product/src/components/shared/header/LoggedInMenu.js
  unifyed-setup-product/src/components/shared/layout/Layout.js
  unifyed-setup-product/src/components/shared/sidebar/SideBar.js
  unifyed-setup-product/src/utils/ContactInput.js
  unifyed-setup-product/src/utils/CustomSingleSelect.js
  unifyed-setup-product/src/utils/FormFieldUtils.js
  unifyed-setup-product/src/utils/FormatUtils.js
  unifyed-setup-product/src/utils/MaskedInput.js
  unifyed-setup-product/src/utils/common.js
  unifyed-setup-product/tailwind.config.js
  unifyed-setup-product/yarn.lock
  yarn.lock
Due: publish_setup_product_dev

React Table and Auth Changes
  unifyed-setup-product/.eslintrc
  unifyed-setup-product/.gitignore
  unifyed-setup-product/package-lock.json
  unifyed-setup-product/package.json
  unifyed-setup-product/src/bootstrap.js
  unifyed-setup-product/src/components/pages/UserDetails/UserDetails.js
  unifyed-setup-product/src/components/routes/Routes.js
  unifyed-setup-product/src/components/shared/layout/Layout.js
  unifyed-setup-product/src/components/shared/table/Button.js
  unifyed-setup-product/src/components/shared/table/Icons.js
  unifyed-setup-product/src/components/shared/table/Table.js
  unifyed-setup-product/src/components/shared/table/Utils.js
  unifyed-setup-product/tailwind.config.js
  unifyed-setup-product/yarn.lock
Due: publish_setup_product_dev

ck editor added
  package.json
  unifyed-setup-product/package-lock.json
  unifyed-setup-product/package.json
  unifyed-setup-product/public/index.html
  unifyed-setup-product/src/components/pages/Sample/FormComponents.js
  unifyed-setup-product/src/components/routes/Routes.js
  unifyed-setup-product/src/components/shared/sidebar/SideBar.js
  unifyed-setup-product/src/utils/ContactInput.js
  unifyed-setup-product/src/utils/FormFieldUtils.js
  unifyed-setup-product/src/utils/RichTextInput.js
  unifyed-setup-product/yarn.lock
Due: publish_setup_product_dev

Adding Filter and Customized Header in Table Grid
  unifyed-setup-product/.eslintrc
  unifyed-setup-product/src/components/pages/UserDetails/UserDetails.js
  unifyed-setup-product/src/components/shared/Modal/modal.js
  unifyed-setup-product/src/components/shared/table/Table.js
Due: publish_setup_product_dev

#created and integrated spinning, modal and snackbar component
  unifyed-setup-product/package-lock.json
  unifyed-setup-product/package.json
  unifyed-setup-product/public/index.html
  unifyed-setup-product/src/App.js
  unifyed-setup-product/src/components/pages/Sample/FormComponents.js
  unifyed-setup-product/src/components/routes/Routes.js
  unifyed-setup-product/src/components/shared/layout/Layout.js
  unifyed-setup-product/src/components/shared/modal/InvolvModal.js
  unifyed-setup-product/src/components/shared/notification/InvolvNotification.js
  unifyed-setup-product/src/components/shared/spinner/InvolvSpinner.js
  unifyed-setup-product/tailwind.config.js
  unifyed-setup-product/yarn.lock
  yarn.lock
Due: publish_setup_product_dev

#removed conflict
  unifyed-setup-product/src/App.js
  unifyed-setup-product/src/components/pages/Sample/FormComponents.js
  unifyed-setup-product/src/components/shared/layout/Layout.js
Due: none

#fixed conflict
  unifyed-setup-product/package-lock.json
  unifyed-setup-product/public/index.html
  unifyed-setup-product/src/components/pages/Sample/FormComponents.js
  unifyed-setup-product/src/components/routes/Routes.js
  unifyed-setup-product/src/components/shared/notification/InvolvNotification.js
  unifyed-setup-product/yarn.lock
  yarn.lock
Due: publish_setup_product_dev

#modified Toast component
  unifyed-setup-product/package-lock.json
  unifyed-setup-product/package.json
  unifyed-setup-product/src/components/pages/Sample/FormComponents.js
  unifyed-setup-product/src/components/shared/alert/Alert.js
  unifyed-setup-product/src/components/shared/notification/InvolvNotification.js
  unifyed-setup-product/yarn.lock
Due: publish_setup_product_dev

basic form fields and date picker added
  unifyed-setup-product/package.json
  unifyed-setup-product/src/components/pages/Sample/FormComponents.js
  unifyed-setup-product/src/components/shared/header/InvolvTenantHeader.js
  unifyed-setup-product/src/utils/ContactInput.js
  unifyed-setup-product/src/utils/DateInput.js
  unifyed-setup-product/src/utils/FormFieldUtils.js
  unifyed-setup-product/yarn.lock
Due: publish_setup_product_dev

Changes Routes
  unifyed-setup-product/package-lock.json
  unifyed-setup-product/src/components/routes/Routes.js
  unifyed-setup-product/src/context/AuthContext.js
  unifyed-setup-product/yarn.lock
Due: publish_setup_product_dev

#created error boundary component
  unifyed-setup-product/src/components/FallBackUI.js
  unifyed-setup-product/src/components/errorBoundary/ErrorBoundary.js
  unifyed-setup-product/src/components/pages/Sample/FormComponents.js
  unifyed-setup-product/src/components/shared/alert/Alert.js
  unifyed-setup-product/src/components/shared/notification/InvolvNotification.js
Due: none

error and full screen dialog added
  unifyed-setup-product/src/components/pages/Sample/FormComponents.js
  unifyed-setup-product/src/components/pages/Sample/SampleForm.js
  unifyed-setup-product/src/components/shared/Modal/FullScreenModal.js
  unifyed-setup-product/src/utils/DateInput.js
  unifyed-setup-product/src/utils/FormFieldUtils.js
  unifyed-setup-product/src/utils/MaskedInput.js
Due: none

full screen modal added
  unifyed-setup-product/package-lock.json
  unifyed-setup-product/package.json
  unifyed-setup-product/src/App.js
  unifyed-setup-product/src/components/pages/Sample/FormComponents.js
  unifyed-setup-product/src/components/shared/table/Table.js
  unifyed-setup-product/src/utils/ContactInput.js
  unifyed-setup-product/yarn.lock
Due: publish_setup_product_dev

Remove Amplitide Changes from App.js
  unifyed-setup-product/src/App.js
Due: none

Update VS Code Setting and Some other files
  unifyed-setup-product/.vscode/settings.json
  unifyed-setup-product/src/components/pages/MyProfile/MyProfile.jsx
  unifyed-setup-product/src/components/pages/Sample/FormComponents.js
  unifyed-setup-product/src/components/pages/UserDetails/UserDetails.js
  unifyed-setup-product/src/components/routes/Routes.js
Due: none

#created error page
  unifyed-setup-product/src/App.js
  unifyed-setup-product/src/assets/errorpage.jpg
  unifyed-setup-product/src/components/errorBoundary/ErrorBoundary.js
  unifyed-setup-product/src/components/pages/ErrorFound/ErrorFound.js
  unifyed-setup-product/src/components/pages/Sample/FormComponents.js
  unifyed-setup-product/src/components/pages/UserDetails/UserDetails.js
  unifyed-setup-product/src/components/routes/Routes.js
  unifyed-setup-product/src/components/shared/alert/Alert.js
Due: none

#added the error component
  unifyed-setup-product/src/components/FallBackUI.js
  unifyed-setup-product/src/components/pages/ErrorFound/ErrorFound.js
  unifyed-setup-product/src/components/pages/Sample/FormComponents.js
  unifyed-setup-product/src/components/pages/UserDetails/UserDetails.js
Due: none

#merged incoming code
  unifyed-setup-product/src/components/pages/UserDetails/UserDetails.js
Due: none

Adding comments in Table Data
  unifyed-setup-product/src/components/pages/UserDetails/UserDetails.js
  unifyed-setup-product/src/components/routes/Routes.js
  unifyed-setup-product/src/components/shared/table/Table.js
  unifyed-setup-product/src/context/AuthContext.js
Due: none

code refactoring
  unifyed-setup-product/src/components/pages/Sample/FormComponents.js
  unifyed-setup-product/src/components/pages/Sample/SampleForm.js
  unifyed-setup-product/src/components/routes/Routes.js
  unifyed-setup-product/src/components/shared/InputCharCount/index.js
  unifyed-setup-product/src/components/shared/Modal/FullScreenModal.js
  unifyed-setup-product/src/components/shared/Modal/modal.js
  unifyed-setup-product/src/components/shared/header/Header.js
  unifyed-setup-product/src/components/shared/header/InvolvTenantHeader.js
  unifyed-setup-product/src/components/shared/layout/Layout.js
  unifyed-setup-product/src/components/shared/sidebar/InvolvTenantSidebar.js
  unifyed-setup-product/src/components/shared/sidebar/SideBar.js
  unifyed-setup-product/src/components/shared/sidebar/SidebarItems.js
  unifyed-setup-product/src/navigation.js
  unifyed-setup-product/src/utils/MaskedInput.js
  unifyed-setup-product/src/utils/formUtils/ContactInput.js
  unifyed-setup-product/src/utils/formUtils/CustomSingleSelect.js
  unifyed-setup-product/src/utils/formUtils/DateInput.js
  unifyed-setup-product/src/utils/formUtils/FormFieldUtils.js
  unifyed-setup-product/src/utils/formUtils/FormatUtils.js
  unifyed-setup-product/src/utils/formUtils/MaskedInput.js
  unifyed-setup-product/src/utils/formUtils/RichTextInput.js
Due: none

code refactoring
  unifyed-setup-product/src/components/pages/Sample/FormComponents.js
  unifyed-setup-product/src/components/routes/Routes.js
  unifyed-setup-product/src/components/shared/modal/FullScreenModal.js
  unifyed-setup-product/src/components/shared/modal/modal.js
  unifyed-setup-product/src/components/shared/table/Table.js
Due: none

added
  unifyed-setup-product/yarn.lock
Due: publish_setup_product_dev

file added
  unifyed-setup-product/src/components/shared/layout/Layout.js
Due: none

#modifield folder name from Modal to modal
  unifyed-setup-product/src/components/shared/alert/Alert.js
  unifyed-setup-product/src/components/shared/modal/FullScreenModal.js
  unifyed-setup-product/src/components/shared/modal/InvolvModal.js
  unifyed-setup-product/src/components/shared/modal/modal.js
Due: none

form field updates
  unifyed-setup-product/src/components/pages/Sample/FormComponents.js
  unifyed-setup-product/src/components/shared/layout/Layout.js
  unifyed-setup-product/src/utils/formUtils/ContactInput.js
  unifyed-setup-product/src/utils/formUtils/DateInput.js
  unifyed-setup-product/src/utils/formUtils/FormFieldUtils.js
Due: none

date componet fixes
  unifyed-setup-product/src/utils/formUtils/CustomSingleSelect.js
  unifyed-setup-product/src/utils/formUtils/DateInput.js
Due: none

#modified error boundary and ErrorFound component
  unifyed-setup-product/src/App.js
  unifyed-setup-product/src/components/FallBackUI.js
  unifyed-setup-product/src/components/errorBoundary/ErrorBoundary.js
  unifyed-setup-product/src/components/pages/ErrorFound/ErrorFound.js
  unifyed-setup-product/src/components/pages/Sample/FormComponents.js
  unifyed-setup-product/src/components/pages/UserDetails/UserDetails.js
  unifyed-setup-product/src/components/routes/Routes.js
  unifyed-setup-product/src/components/shared/alert/Alert.js
  unifyed-setup-product/src/components/shared/notification/InvolvNotification.js
  unifyed-setup-product/src/navigation.js
Due: none

#created generic component for images
  unifyed-setup-product/src/assets/no-photo.png
  unifyed-setup-product/src/components/errorBoundary/ErrorBoundary.js
  unifyed-setup-product/src/components/pages/ErrorFound/ErrorFound.js
  unifyed-setup-product/src/components/pages/Sample/FormComponents.js
  unifyed-setup-product/src/components/pages/UserDetails/UserDetails.js
  unifyed-setup-product/src/components/shared/images/Images.js
  unifyed-setup-product/src/navigation.js
Due: none

#removed consolg log
  unifyed-setup-product/src/components/shared/images/Images.js
Due: none

Path conditions:
  publish_setup_product_dev: any of: unifyed-setup-product/*
  publish_setup_container_dev: any of: unifyed-setup-container/*
